@use "../colors.scss";
@use "../measures.scss";

@mixin rosarium-button-size($font-size, $h-padding, $v-padding, $border-width) {
  font-size: $font-size;
  padding: $h-padding $v-padding;
  border-radius: measures.$radius-m;
  border-width: $border-width;
  border-style: solid;
}

.rosarium-button--small {
  @include rosarium-button-size(
    $font-size: measures.$font-size-m,
    $h-padding: measures.$distance-xs,
    $v-padding: measures.$distance-s,
    $border-width: 1px
    /* border-radius: 4px */
  );
}

.rosarium-button--medium {
  @include rosarium-button-size(
    $font-size: measures.$font-size-l,
    $h-padding: measures.$distance-s,
    $v-padding: measures.$distance-m,
    $border-width: 1px
    /* border-radius: 6px */
  );
}

.rosarium-button--large {
  @include rosarium-button-size(
    $font-size: measures.$font-size-xl,
    $h-padding: measures.$distance-m,
    $v-padding: measures.$distance-l,
    $border-width: 2px
    /* border-radius: 8px */
    /* TODO: radiuses, same with inputs */
  );
}

$variants: "primary", "secondary";

@mixin rosarium-button-filled($main-color, $hover-color, $active-color) {
  transition: colors.$button-color-transition;
  cursor: pointer;

  color: var(--tinctus-white);

  border-color: $main-color;
  background-color: $main-color;

  &:hover {
    border-color: $hover-color;
    background-color: $hover-color;
  }

  &:active {
    border-color: $active-color;
    background-color: $active-color;
  }
}

@mixin rosarium-button-outline($main-color, $hover-color, $active-color) {
  transition: colors.$button-color-transition;
  cursor: pointer;

  background-color: transparent;
  border-color: $main-color;
  color: $main-color;

  &:hover {
    border-color: $hover-color;
    color: $hover-color;
  }

  &:active {
    border-color: $active-color;
    color: $active-color;
  }
}

.rosarium-button--primary {
  @include rosarium-button-filled(
    $main-color: var(--tinctus-primary-600),
    $hover-color: var(--tinctus-primary-500),
    $active-color: var(--tinctus-primary-800)
  );
}

.rosarium-button--secondary {
  @include rosarium-button-filled(
    $main-color: var(--tinctus-gray-300),
    $hover-color: var(--tinctus-gray-200),
    $active-color: var(--tinctus-gray-400)
  );
}

.rosarium-button--primary-outline {
  @include rosarium-button-outline(
    $main-color: var(--tinctus-primary-600),
    $hover-color: var(--tinctus-primary-400),
    $active-color: var(--tinctus-primary-800)
  );
}

.rosarium-button--secondary-outline {
  @include rosarium-button-outline(
    $main-color: var(--tinctus-gray-400),
    $hover-color: var(--tinctus-gray-200),
    $active-color: var(--tinctus-gray-500)
  );
}
