@use "../colors.scss";
@use "../measures.scss";

@mixin rosarium-button-size($font-size, $h-padding, $v-padding, $border-width) {
  font-size: $font-size;
  padding: $h-padding $v-padding;
  border-radius: measures.$radius-m;
  border-width: $border-width;
  border-style: solid;
}

.rosarium-button--small {
  @include rosarium-button-size(
    $font-size: measures.$font-size-m,
    $h-padding: measures.$distance-xs,
    $v-padding: measures.$distance-s,
    $border-width: 1px /* border-radius: 4px */
  );
}

.rosarium-button--medium {
  @include rosarium-button-size(
    $font-size: measures.$font-size-l,
    $h-padding: measures.$distance-s,
    $v-padding: measures.$distance-m,
    $border-width: 1px /* border-radius: 6px */
  );
}

.rosarium-button--large {
  @include rosarium-button-size(
    $font-size: measures.$font-size-xl,
    $h-padding: measures.$distance-m,
    $v-padding: measures.$distance-l,
    $border-width: 2px /* border-radius: 8px */
      /* TODO: radiuses, same with inputs */
  );
}

$variants: "primary", "secondary";

@mixin rosarium-button-filled(
  $main-color,
  $hover-color,
  $active-color,
  $cursor: pointer
) {
  transition: colors.$button-color-transition;
  cursor: $cursor;

  color: var(--tinctus-white);

  border-color: $main-color;
  background-color: $main-color;

  &:hover {
    border-color: $hover-color;
    background-color: $hover-color;
  }

  &:active {
    border-color: $active-color;
    background-color: $active-color;
  }
}

.rosarium-button--primary {
  @include rosarium-button-filled(
    $main-color: var(--tinctus-primary-500),
    $hover-color: var(--tinctus-primary-700),
    $active-color: var(--tinctus-primary-800)
  );
}

.rosarium-button--secondary {
  @include rosarium-button-filled(
    $main-color: var(--tinctus-primary-300),
    $hover-color: var(--tinctus-primary-400),
    $active-color: var(--tinctus-primary-500)
  );
}

.rosarium-button--locked {
  @include rosarium-button-filled(
    $main-color: var(--tinctus-gray-300),
    $hover-color: var(--tinctus-gray-300),
    $active-color: var(--tinctus-gray-300),
    $cursor: not-allowed // would be fun to have custom cursors
  );
}

@mixin rosarium-button-outline(
  $text-color,
  $border-color,
  $hover-bg-color,
  $active-bg-color
) {
  transition: colors.$button-color-transition;
  cursor: pointer;

  background-color: transparent;
  border-color: $border-color;
  color: $text-color;

  &:hover {
    background-color: $hover-bg-color;
  }

  &:active {
    background-color: $active-bg-color;
  }
}

.rosarium-button--primary-outline {
  @include rosarium-button-outline(
    $text-color: var(--tinctus-primary-600),
    $border-color: var(--tinctus-primary-500),
    $hover-bg-color: var(--tinctus-primary-50),
    $active-bg-color: var(--tinctus-primary-100)
  );
}

.rosarium-button--secondary-outline {
  @include rosarium-button-outline(
    $text-color: var(--tinctus-gray-800),
    $border-color: var(--tinctus-gray-300),
    $hover-bg-color: var(--tinctus-gray-50),
    $active-bg-color: var(--tinctus-gray-100)
  );
}
