@use "../colors.scss";
@use "../measures.scss";

.rosarium-card {
  background-color: colors.$tinctus-white;
  padding: measures.$distance-xxl;
  border-radius: measures.$radius-card;
  box-shadow: colors.$card-shadow;
}