// https://fonts.google.com/icons?selected=Material+Symbols+Outlined:visibility:FILL@0;wght@500;GRAD@0;opsz@24&icon.size=24&icon.color=%231f1f1f&icon.style=Outlined&icon.set=Material+Symbols

// weight 500, grade 200, optical size 24, material symbols, rounded

span[class^="rosarium-icon"] {
  display: inline-block;
  background-repeat: no-repeat;
}

// Themes
@mixin rosarium-icon($icon-name) {
  .rosarium-icon--#{$icon-name} {
    mask-image: url("/app/javascript/images/icons/#{$icon-name}.svg");
  }
  .rosarium-icon--#{$icon-name}-filled {
    mask-image: url("/app/javascript/images/icons/#{$icon-name}-filled.svg");
  }
}

// #icons-list
$icons: "adjust", "close", "copy", "error", "eye-hide", "eye-show", "heart",
  "home", "search", "settings", "star";

@each $icon-name in $icons {
  @include rosarium-icon($icon-name);
}
