@use "../measures.scss";
@use "../colors.scss";
@use "../utilities.scss";

$input-border-bottom-thickness-small: 2px;
$input-border-bottom-thickness-medium: 3px;
$input-border-bottom-thickness-large: 3px;

.rosarium-input-wrapper {
  @include utilities.flex-row;
  transition: background-color 0.3s ease;
  background-color: var(--tinctus-primary-25);

  &:focus-within {
    background-color: var(--tinctus-primary-100);
  }

  input {
    flex-grow: 1;
    background-color: transparent;

    &:focus {
      outline: none;

      &::placeholder {
        color: var(--tinctus-gray-600);
      }
    }

    &::placeholder {
      color: var(--tinctus-gray-400);
    }
  }
}

@mixin rosarium-input(
  $input-font-size,
  $label-font-size,
  $gap,
  $height,
  $h-padding,
  $v-padding,
  $border-bottom-thickness,
) {
  @include utilities.flex-col;

  .rosarium-input--outer-label {
    color: var(--tinctus-gray-700);
    font-size: $label-font-size;
    padding: 0 0 0 measures.$distance-s;
    margin-bottom: $gap;
  }

  .rosarium-input-wrapper {
    padding: $v-padding $h-padding;
    border-bottom: $border-bottom-thickness solid var(--tinctus-primary-400);

    input {
      font-size: $input-font-size;
    }
  }
}

.rosarium-input--small {
  @include rosarium-input(
    $input-font-size: measures.$font-size-s,
    $label-font-size: measures.$font-size-s,
    $gap: measures.$distance-xs,
    $height: measures.$font-size-s,
    $h-padding: measures.$distance-s,
    $v-padding: measures.$distance-xs,
    $border-bottom-thickness: $input-border-bottom-thickness-small,
  );
}

.rosarium-input--medium {
  @include rosarium-input(
    $input-font-size: measures.$font-size-l,
    $label-font-size: measures.$font-size-m,
    $gap: measures.$distance-s,
    $height: measures.$font-size-l,
    $h-padding: measures.$distance-m,
    $v-padding: measures.$distance-s,
    $border-bottom-thickness: $input-border-bottom-thickness-medium,
  );
}

.rosarium-input--large {
  @include rosarium-input(
    $input-font-size: measures.$font-size-xl,
    $label-font-size: measures.$font-size-l,
    $gap: measures.$distance-s,
    $height: measures.$font-size-xl,
    $h-padding: measures.$distance-m,
    $v-padding: measures.$distance-m,
    $border-bottom-thickness: $input-border-bottom-thickness-large,
  );

  .rosarium-input-wrapper {
    position: relative;

    .rosarium-input--inner-label {
      position: absolute;
      top: 0;
      left: 0;
      height: measures.$font-size-xl;
      margin: measures.$distance-m;
      border-radius: measures.$radius-s;
      font-size: measures.$font-size-xl;
      /* TODO: this is a good candidate for a next level variable (color-input-placeholder)*/
      color: var(--tinctus-gray-400);
      transition: all 0.3s ease;
      cursor: text;

      &:has(+ input:not(:placeholder-shown)),
      &:has(+ input:focus) {
        top: -18px;
        left: 8px;
        margin: 0;
        padding: measures.$distance-xxs measures.$distance-s;
        font-size: measures.$font-size-m;
        height: measures.$distance-xl;
        /* TODO: also good variable candidate or even mixin */
        color: var(--tinctus-gray-700);
        background-color: var(--tinctus-white);
        cursor: default;
        border: 1px solid var(--tinctus-primary-300);
      }
    }
  }
}
