@use "../measures.scss";
@use "../colors.scss";

@mixin rosarium-input(
  $gap,
  $label-font-size,
  $input-font-size,
  $h-padding,
  $v-padding
) {
  display: flex;
  flex-direction: column;

  label {
    color: colors.$tinctus-gray-800;
    font-size: $label-font-size;
    padding: 0 0 0 $h-padding;
    margin-bottom: $gap;
  }

  input {
    font-size: $input-font-size;
    border-color: colors.$tinctus-primary-300;
    border-style: solid;
    font-size: $input-font-size;
    padding: $v-padding $h-padding;
    border-width: 0 0 1px 0;

    &:focus {
      outline: none;
      background-color: colors.$tinctus-primary-100;
    }

    transition: colors.$input-bg-color-transition;
  }
}

.rosarium-input--small {
  @include rosarium-input(
    $gap: measures.$distance-xs,
    $label-font-size: measures.$font-size-s,
    $input-font-size: measures.$font-size-m,
    $h-padding: measures.$distance-xxs,
    $v-padding: measures.$distance-xs
  );
}

.rosarium-input--medium {
  @include rosarium-input(
    $gap: measures.$distance-s,
    $label-font-size: measures.$font-size-m,
    $input-font-size: measures.$font-size-l,
    $h-padding: measures.$distance-xs,
    $v-padding: measures.$distance-s
  );
}

.rosarium-input--large {
  @include rosarium-input(
    $gap: measures.$distance-s,
    $label-font-size: measures.$font-size-l,
    $input-font-size: measures.$font-size-xl,
    $h-padding: measures.$distance-s,
    $v-padding: measures.$distance-m
  );
}
