$tinctus-primary-100: #fff4fa;
$tinctus-primary-200: #ffe4f2;
$tinctus-primary-300: #ffbecf;
$tinctus-primary-400: #fc90a6;
$tinctus-primary-500: #d8637e;
$tinctus-primary-600: #b33458; // Rosarium
$tinctus-primary-700: #831138;
$tinctus-primary-800: #55001b;
$tinctus-primary-900: #2a0003;
