$tinctus-primary-100: #ffe4f2;
$tinctus-primary-200: #ffbecf;
$tinctus-primary-300: #fc90a6;
$tinctus-primary-400: #d8637e;
$tinctus-primary-500: #b33458; // Rosarium
$tinctus-primary-600: #831138;
$tinctus-primary-700: #55001b;
$tinctus-primary-800: #2a0003;
