$tinctus-primary-100: #d8ffee;
$tinctus-primary-200: #a8e3c3;
$tinctus-primary-300: #7abc99;
$tinctus-primary-400: #4b9772;
$tinctus-primary-500: #0d734c; // Silva
$tinctus-primary-600: #004e2d;
$tinctus-primary-700: #002b11;
$tinctus-primary-800: #000c00;
