$tinctus-primary-100: #effff8;
$tinctus-primary-200: #d8ffee;
$tinctus-primary-300: #a8e3c3;
$tinctus-primary-400: #7abc99;
$tinctus-primary-500: #4b9772;
$tinctus-primary-600: #0d734c; // Silva
$tinctus-primary-700: #004e2d;
$tinctus-primary-800: #002b11;
$tinctus-primary-900: #000c00;
