/* Change to pick the palette */
@forward "palettes/silva";

// Monochrome
$tinctus-black: #000000;
$tinctus-white: #ffffff;

// Grayscale
$tinctus-gray-50: #f0f0f0;
$tinctus-gray-100: #e6e6e6;
$tinctus-gray-200: #cccccc;
$tinctus-gray-300: #b3b3b3;
$tinctus-gray-400: #999999;
$tinctus-gray-500: #808080;
$tinctus-gray-600: #666666;
$tinctus-gray-700: #4d4d4d;
$tinctus-gray-800: #333333;
$tinctus-gray-900: #1a1a1a;
