@use "palettes.scss";
@use "sass:map";

// Themes
@mixin themable($theme-name, $theme-map) {
  .rosarium-theme--#{$theme-name} {

    @each $shade, $hex in $theme-map {
      --tinctus-primary-#{$shade}: #{$hex};
    }
  }
}

@include themable("rosula", palettes.$rosula);
@include themable("sanguis", palettes.$sanguis);
@include themable("silva", palettes.$silva);

:root {
  // Monochrome
  --tinctus-black: #000000;
  --tinctus-white: #ffffff;

  // Grayscale
  --tinctus-gray-50: #f0f0f0;
  --tinctus-gray-100: #e6e6e6;
  --tinctus-gray-200: #cccccc;
  --tinctus-gray-300: #b3b3b3;
  --tinctus-gray-400: #999999;
  --tinctus-gray-500: #808080;
  --tinctus-gray-600: #666666;
  --tinctus-gray-700: #4d4d4d;
  --tinctus-gray-800: #333333;
  --tinctus-gray-900: #1a1a1a;

  // Opacity Variations
  --vitrum-black-10: #000000e6;
  --vitrum-black-20: #000000cc;
  --vitrum-black-30: #000000b3;
  --vitrum-black-40: #00000099;
  --vitrum-black-50: #00000080;
  --vitrum-black-60: #00000066;
  --vitrum-black-70: #0000004d;
  --vitrum-black-80: #00000033;
  --vitrum-black-90: #0000001a;

  --vitrum-white-10: #ffffffe6;
  --vitrum-white-20: #ffffffcc;
  --vitrum-white-30: #ffffffb3;
  --vitrum-white-40: #ffffff99;
  --vitrum-white-50: #ffffff80;
  --vitrum-white-60: #ffffff66;
  --vitrum-white-70: #ffffff4d;
  --vitrum-white-80: #ffffff33;
  --vitrum-white-90: #ffffff1a;

  // Containers
  --color-global-bg: var(--tinctus-gray-50);
  --color-container-bg: var(--tinctus-gray-50);
}




// Shadows
$card-shadow: 2px 2px 4px 0px --tinctus-gray-100;

// Transitions
$button-color-transition: background-color 0.1s ease, border-color 0.1s ease;
