@use "measures";
@use "colors";

@mixin rosarium-input($gap, $label-font-size, $input-font-size, $border-radius: false, $h-padding, $v-padding) {
  display: flex;
  flex-direction: column;
  gap: $gap;

  label {
    color: colors.$tinctus-gray-800;
    font-size: $label-font-size;
    padding: 0 0 0 $h-padding;
  }

  input {
    font-size: $input-font-size;
    border-color: colors.$tinctus-primary-300;
    border-style: solid;
    font-size: $input-font-size;
    padding: $v-padding $h-padding;

    @if $border-radius {
      border-radius: $border-radius;
      border-width: 1px;
    } @else {
      border-width: 0 0 1px 0;
    }

    &:focus {
      outline: none;
      background-color: colors.$tinctus-primary-100;
    }
  }
}


.rosarium-input--small {
  @include rosarium-input(
    $gap: measures.$r-distance-xs,
    $label-font-size: measures.$r-fontsize-s,
    $input-font-size: measures.$r-fontsize-m,
    $h-padding: measures.$r-distance-xxs,
    $v-padding: measures.$r-distance-xs,
  );
}

.rosarium-input--medium {
  @include rosarium-input(
    $gap: measures.$r-distance-s,
    $label-font-size: measures.$r-fontsize-m,
    $input-font-size: measures.$r-fontsize-l,
    $h-padding: measures.$r-distance-xs,
    $v-padding: measures.$r-distance-s,
  );
}

.rosarium-input--large {
  @include rosarium-input(
    $gap: measures.$r-distance-s,
    $label-font-size: measures.$r-fontsize-l,
    $input-font-size: measures.$r-fontsize-xl,
    $h-padding: measures.$r-distance-s,
    $v-padding: measures.$r-distance-m,
  );
}
