$distance-xxs: 2px;
$distance-xs: 4px;
$distance-s: 8px;
$distance-m: 16px;
$distance-l: 20px;
$distance-xl: 24px;
$distance-xxl: 28px;

$font-size-base: 16px;

$font-size-xs: .8em;
$font-size-s: .9em;
$font-size-m: 1em;
$font-size-l: 1.1em;
$font-size-xl: 1.2em;


$font-size-hero: 5em;
$font-size-p: $font-size-m;
$line-height-p: $font-size-l;

$font-size-headings:
  (
    1: 2.5em,
    2: 2em,
    3: 1.5em,
    4: 1.2em,
  );

$radius-s: 4px;
$radius-m: 6px;
$radius-l: 8px;
$radius-card: 20px;
