$distance-xxs: 2px;
$distance-xs: 4px;
$distance-s: 8px;
$distance-m: 16px;
$distance-l: 20px;
$distance-xl: 24px;
$distance-xxl: 28px;
$distance-broad: 36px;

$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;

$font-size-headings:
  (
    1: 40px,
    2: 34px,
    3: 28px,
    4: 22px, /* kinda small */
  );

$radius-s: 4px;
$radius-m: 6px;
$radius-l: 8px;
$radius-card: 20px;
