$rosula: (
  "25": "#fbf4f8",
  "50": "#f7dfec",
  "100": "#eabdd5",
  "200": "#e19bbf",
  "300": "#d771a3",
  "400": "#c65282",
  "500": "#a6305d",
  "600": "#892b4e",
  "700": "#6e213e",
  "800": "#5b1a31",
  "900": "#451224",
);

$sanguis: (
  "25": "#fdf7f7",
  "50": "#f2dadc",
  "100": "#e4b1b6",
  "200": "#dd8a94",
  "300": "#bf5c66",
  "400": "#ae3a45",
  "500": "#8a252f",
  "600": "#75242c",
  "700": "#621d24",
  "800": "#50161c",
  "900": "#3f1217",
);

$silva: (
  "25": "#f4f9f7",
  "50": "#dceee5",
  "100": "#b6d9c7",
  "200": "#8ebfab",
  "300": "#6cad92",
  "400": "#4c9073",
  "500": "#2e7b58",
  "600": "#21563e",
  "700": "#16442f",
  "800": "#0e2d1f",
  "900": "#0a2117",
);