// ROSULA
$rosula: (
  "25": "#fbf4f8",
  "50": "#f9eaf2",
  "100": "#f1c6dd",
  "200": "#e9a5c8",
  "300": "#e185b2",
  "400": "#c4457a",
  "500": "#a6305d",
  "600": "#892b4e",
  "700": "#6e213e",
  "800": "#5b1a31",
  "900": "#451224",
);


// SANGUIS
$sanguis: (
  "25": "#fdf7f7",
  "50": "#f6eaeb",
  "100": "#e8d4d6",
  "200": "#d8b6ba",
  "300": "#c4878d",
  "400": "#aa414b",
  "500": "#862d36",
  "600": "#75242c",
  "700": "#621d24",
  "800": "#50161c",
  "900": "#3f1217",
);

// SILVA
$silva: (
  "25": "#f2f8f6",
  "50": "#daece6",
  "100": "#b8e0d3",
  "200": "#88d3bb",
  "300": "#3caa87",
  "400": "#268265",
  "500": "#136c50",
  "600": "#015b45",
  "700": "#014c3a",
  "800": "#013c2d",
  "900": "#012d22",
);