@use "measures.scss";

@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&display=swap');

html, body, div, span, p, button, label, input, a,
h1, h2, h3, h4, h5, h6, blockquote, ol, ul, li,
legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, hgroup,
menu, nav, output, ruby, section, summary {
  font-family: 'Gantari';
  color: var(--tinctus-gray-900);
}

$link-sizes: "small", "medium", "large";

@mixin rosarium-link {
  color: var(--tinctus-primary-600);
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: pointer;
}

.rosarium-link {
  @include rosarium-link();
}

.rosarium-link-small {
  @include rosarium-link();
  font-size: measures.$font-size-s;
}

.rosarium-link-medium {
  @include rosarium-link();
  font-size: measures.$font-size-m;
}

.rosarium-link-large {
  @include rosarium-link();
  font-size: measures.$font-size-l;
}
