body {
  background-color: var(--tinctus-gray-50);
}

.rosarium-container {
  background-color: var(--tinctus-white);
  border-radius: 8px;
  padding: 24px;
}

.rosarium--showcase-grid {
  td {
    padding: 10px;
    border: 1px solid var(--tinctus-gray-200);
    vertical-align: middle;
  }

  span[class^="rosarium-icon"] {
    background-color: var(--tinctus-primary-600);
    cursor: pointer;

    &:hover {
      background-color: var(--tinctus-primary-400);
    }
  }
}

.rosarium--showcase-grid-single {
  max-width: 600px;
}