// BEWARE - Here be Dragons
// We don't want this to be a kitchen sink,
// but rather a place for truly, really global styles

body {
  background-color: var(--tinctus-gray-25);
}

// TEMPORARY HOME PAGE
.TODO-delete {
  .rosarium-card {
    margin: 15px auto;
    width: 450px;
  }
}
