@use "../rosarium";

.spa-body {
  @include rosarium.full-page;
  @include rosarium.flex-row;
  align-items: stretch;

  nav {
    @include rosarium.flex-col;
    width: 250px;
    align-items: center;

    /* TODO: variabilize */
    background-color: var(--tinctus-primary-600);
    padding: 20px;
    gap: 15px;
  }

  main {
    padding: rosarium.$distance-xl;
  }
}