@use "../rosarium";

.login-body {
  background: url("../images/gemini-music-room.png");
  background-position: center; // media small: -290px center
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

